<div>
  <div class='table-tittle'>
    <p>月間スケジュール</p>
  </div>
  <div class="calendar">
    <%= month_calendar events:@schedules do |date, schedules| %>
     <%= link_to search_schedules_path(date.day) do %>
      <%= date.day %>
     <% end %>

      <% schedules.first(2).each do |schedule| %>
        <div>
          <%= link_to schedule.client, schedule_path(schedule.id), method: :get %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>