<div class='table-tittle'>
  <p>月間スケジュール</p>
  </div>
<div class="calendar">
<%= month_calendar events:@schedules do |date, schedules| %>
  <%= date.day %>

  <% schedules.first(2).each do |schedule| %>
    <div>
      <%= link_to schedule.client, schedule_path(schedule.id), method: :get %>
    </div>
  <% end %>
<% end %>
</div>