<div>
  <div class='table-tittle'>
    <p>月間スケジュール</p>
  </div>
  <div class="calendar">
    <%= month_calendar events:@schedules do |date, schedules| %>
     <%= link_to search_schedules_path(q: { start_time_eq: date }) do %>
      <%= date.day %>
     <% end %>

      <% schedules.first(5).each do |schedule| %>
        <div class="td-cliant">
          <%= link_to schedule.client, search_schedules_path(q: { client_eq: schedule.client}), method: :get %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>