<div class="side-bar">
  <div class="report">
    <div class='login-user'>
      <% if user_signed_in? %>
         <p>こんにちは</p>
         <%= "#{current_user.last_name}さん"%>
      <% end %>
    </div>

    <div class='all-list'>
        <p>従業員一覧</p>
    </div>

    <% @user.each do |user| %>
        <div class='user-name'>
          <%= link_to user.last_name + user.first_name, user_path(user.id), method: :get %>
        </div>
    <% end %>
  </div>
</div>







