
<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>

  <div class="main">
   <div class="chat">
    <%= render partial: "schedules" %>
    <%= render partial: "reports" %>
   </div>
  </div>
  
</div>


