<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>

  <div class="main">
    <div class="main-tittle">
     <p>全員のスケジュール</p>
   </div>
   <div>
    <%= render partial: "schedules" %>
   </div>
    <div class='table-tittle'>
      <p>活動報告一覧</p>
    </div>
    <div>
      <%= render partial: "reports" %>
    </div>
  </div>   
</div>