
<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>

  <div class="main">
   <div>
    <%= render partial: "schedules" %>
   </div>
   <div>
    <%= render partial: "reports" %>
   </div>
  </div>   
</div>


