.wrapper {
  display: flex;
}

.main {
  width: calc(100vw - 150px);
  background-color: #ffffff;
  height: 100vh;
  margin-left: 150px;
  margin-top: 100px;
}

.calendar-heading {
  text-align: center;
  font-size: 20px;
}

.calendar-title {
  font-size: 30px;
}

.simple-calendar th {
  text-align: center;
}

.wday-6 {
  background-color: #DEE6FE;
}

.wday-0 {
  background-color: #FEE0EC;
}

/* カレンダーCSS */

.calendar {
  margin: 30px 100px 0;
}

.td-name {
 width: 150px;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

/* テーブルCSS */
th {
  text-align: center;
}

.report-list table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;
}

/* .report-list table.type06 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
} */


.report-list tr:nth-child(even) {
  background: #d9d9d9;
 }

.report-list {
  margin: 30px 80px;
}

.table-tittle {
  margin: 20px auto 0;
  text-align: center;
  font-size: 50px;
}

.details {
  text-align: center;
}

/* 検索CSS */

.search {
  text-align: center;
}

/* マイページCSS */

.mypage-name {
  font-size: 20px;
  font-weight: 500;
  padding-left: 30px;
}

.mypage-back {
  padding-left: 240px;
}