.wrapper {
  display: flex;
}

.chat {
  width: calc(100vw - 150px);
  background-color: #ffffff;
}

.calendar-heading {
  text-align: center;
  font-size: 20px;
}

.calendar-title {
  font-size: 30px;
}

.simple-calendar th {
  text-align: center;
}

.wday-6 {
  background-color: #DEE6FE;
}

.wday-0 {
  background-color: #FEE0EC;
}

/* テーブルCSS */

.mini table, th, td {
  border-collapse: collapse;
  border: 1px solid #ccc;
  line-height: 1.5;

}

.mini table.type06 th {
  width: 150px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
}
.mini table.type06 td {
  width: 350px;
  padding: 10px;
  vertical-align: top;
 }

.mini tr:nth-child(even) {
  background: #d9d9d9;
 }

.mini {
  margin: 30px 20px 0;
}

.table-tittle {
  margin: 50px auto 0;
  text-align: center;
  font-size: 50px;
}