.show-list {
  margin: 30px 30px;
}

.with-1 {
  width: 5%;
}

.with-2 {
  width: 5%;
}

.with-3 {
  width: 10%;
}

.with-4 {
  width: 5%;
}

.with-5 {
  width: 10%;
}

.with-6 {
  width: 10%;
}

.with-7 {
  width: 10%;
}

.with-8 {
  width: 10%;
}

.with-9 {
  width: 15%;
}

.with-10 {
  width: 15%;
}

.with-11 {
  width: 10%;
}

/* ボタンCSS */
.all-button {
  text-align: center;
  padding: 10px;
}

.button {
  padding: 0 10px;
  font-size: 20px;
}

.bottom-button {
  padding-top: 20px;
}