.show-list {
  margin: 30px auto;
  -ms-writing-mode : tb-lr;
  writing-mode : vertical-lr;
}

.show-list th {
  -ms-writing-mode : lr-tb;
  writing-mode : horizontal-tb;
  padding: 10px;
}

.show-list td {
  -ms-writing-mode : lr-tb;
  writing-mode : horizontal-tb;
  padding: 0 10px;
  width: 800px;
}

/* ボタンCSS */
.all-button {
  text-align: center;
  padding: 10px;
}

.button {
  padding: 0 10px;
  font-size: 20px;
}

.bottom-button {
  padding-top: 20px;
}